django>=4.2.5,
djangorestframework>=3.14.0,
djangorestframework-simplejwt>=5.2.2,
setuptools>=68.0.0,
drf-spectacular>=0.26.3,
django-cors-headers>=4.2.0,
python-magic>=0.4.27,
Pillow>=10.0.0,
django-extensions>=3.2.3,
pydotplus>=2.0.2,
whitenoise[brotli]>=6.5.0,
gunicorn>=21.2.0,